h1{
text-align: center;
background-color: navy;
font-size: 4em;
}
body{
    background-color:orange;
}
#formfield{
text-align: center;
size: 10em;
}
#firstNumber{
text-align: center;
}
#secondNumber{
text-align: center;
}
#form{
text-align: center;
font-size: 10em;
}
#result{
    text-align: center; 
    
}


